.add-queue-form-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-window {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #00000080;

}

body.light-theme .form-window {
    background-color: #fff;
    color: #333;
}

body.dark-theme .form-window {
    background-color: #333;
    color: #fff;
}

.form-queue-name {
    width: 100%;
    margin-bottom: 10px;
}

.form-queue-name input {
    width: 100%;
}

.form-description {
    width: 100%;
    margin-bottom: 10px;
}

.form-description textarea {
    resize: none;
    width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-element {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-element button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

body.light-theme .form-element button {
    color: #333;
}

body.dark-theme .form-element button {
    color: #fff;
}

body.light-theme .form-element button:hover {
    color: #fff;
    background-color: #555;
}

body.dark-theme .form-element button:hover {
    color: #555;
    background-color: #fff;
}

.form-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

body.light-theme .form-buttons button {
    color: #333;
}

body.dark-theme .form-buttons button {
    color: #fff;
}

body.light-theme .form-buttons button:hover {
    color: #fff;
    background-color: #555;
}

body.dark-theme .form-buttons button:hover {
    color: #555;
    background-color: #fff;
}
