.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 10px;
    right: 0;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle-switch-inner {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    left: 22px;
}
